<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InnercorArca.V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="InnercorArca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InnercorArca.V1.Properties.Settings>
            <setting name="InnercorArca_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="InnercorArca_wsaa_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="InnercorArca_wswhomo_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="InnercorArca_wsw_Service" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="InnercorArca_V1_Aws_PersonaServiceA5" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
            </setting>
        </InnercorArca.V1.Properties.Settings>
        <InnercorArca.Properties.Settings>
            <setting name="InnercorArca_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="InnercorArca_wsaa_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="InnercorArca_wswhomo_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="InnercorArca_wsw_Service" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </InnercorArca.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>